<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <title>PiHome em Construção!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <h1>Em Construção teste!</h1>
    <button id="toggleButton">Ligar/Desligar</button>
    <script>
      document.getElementById('toggleButton').addEventListener('click', function() {
        fetch('/light-room/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({ action: 'toggle' })
        })
        .then(response => response.json())
        .then(data => {
          console.log(data.message);
        });
      });
    </script>
  </body>
</html>